@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
 <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Home</a>
             @if (SignInManager.IsSignedIn(User)){
            <a class="list-group-item list-group-item-action" asp-controller="Profile" asp-action="Detail" asp-route-userName="@User.Identity.Name">Profile</a>
         <a class="list-group-item list-group-item-action" asp-controller="Account" asp-action="EditProfile" asp-route-username="@User.Identity.Name">Settings</a>
         }
        </div>
        </div>
        
