@model FollowDto

 <input hidden asp-for="FollowerId"/>
            <input hidden asp-for="FollowingId"/>
@{ if (Model.isExist)
    {              
                    <button id="UnFollow" onclick="UnFollow()"  class="btn btn-rounded btn-info">
                    <i class="fa fa-minus"></i>
                    Unfollow
                    </button>
    }
    else
    {              
                    <button id="Follow" type="submit"  onclick="Follow()"  class="btn btn-rounded btn-info">
                    <i class="fa fa-plus"></i>
                    Follow
                    </button>
    }}
<script>
     
         function Follow() {
            var model={ 
            FollowerId: parseInt($("#FollowerId").val()),
            FollowingId: parseInt($("#FollowingId").val())};
            
            $.ajax({
            data: JSON.stringify(model),
            type: "POST",
            url: "/Follow/Follow/",
            contentType: "application/json",
            dataType: "JSON",
            success: function (result) {
                if(result=="Success")
                    $( "#Follow" ).replaceWith('<button onclick="UnFollow()" id="UnFollow" type="submit" class="btn btn-rounded btn-info"><i class="fa fa-minus"></i> Unfollow</button>');
                                   
                    }
            });}
            function UnFollow() {
            var model={ 
            FollowerId: parseInt($("#FollowerId").val()),
            FollowingId: parseInt($("#FollowingId").val())}; 

            $.ajax({
            data: JSON.stringify(model),
            type: "POST",
            url: "/Follow/UnFollow/",
            contentType: "application/json",
            dataType: "JSON",
            success: function (result) {
                     if(result=="Success")
                    $( "#UnFollow" ).replaceWith('<button onclick="Follow()" id="Follow" type="submit" class="btn btn-rounded btn-info"><i class="fa fa-plus"></i> Follow</button>');
                }
            });
        }
</script>